<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XP Games</title>

    <!-- CSS  -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(window).resize(function() {
            var mobileWidth =  (window.innerWidth > 0) ?
                    window.innerWidth :
                    screen.width;
            var viewport = (mobileWidth > 360) ?
                    'width=device-width, initial-scale=1.0' :
                    'width=1200';
            $("meta[name=viewport]").attr('content', viewport);
        }).resize();
    </script>
    <style>
        @font-face {
            font-family: IRANSansWeb;
            src: url(../../font/IRANSansWeb.ttf);
        }
        body{
            font-family: IRANSansWeb;
            background-color: rgba(1,162,166,1);
            /*overflow-x: hidden;*/
        }
    </style>
</head>
<body>
<nav role="navigation" style="background-color: rgba(1,162,166,1);">
    <div class="nav-wrapper container">
        <a id="logo-container" href="http://acm.ut.ac.ir" class="brand-logo" style="color:white; font-family: Roboto;">ACM</a>
        <%if(!currentUser){%>
        <a href="/" class="brand-logo center white-text">XP Games</a>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/register">ثبت نام</a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/login">ورود</a></li>
        </ul>
        <%}else{if(!currentUser.verified){%>
        <a href="#" class="brand-logo center white-text">لطفا ایمیلت رو تایید کن</a>
            <ul class="right hide-on-med-and-down">
                <li><a id="user" style="color:white;" onmouseover="" class="tooltipped" data-delay="50" data-tooltip="لطفا ایمیلت رو تایید کن" href="/home"><%=currentUser.name%></a></li>
            </ul>
        <%}else {%>
        <a href="/home" class="brand-logo center white-text">XP Games</a>
            <ul class="right hide-on-med-and-down">
                <li><a id="user" style="color:white;"  data-delay="50" data-tooltip="به زودی این بخش فعال میشه" href="/home"><%=currentUser.name%></a></li>
            </ul>
        <%}%>
            <ul class="right hide-on-med-and-down">
                <li><a style="color:white;" href="/logout">خروج</a></li>
            </ul>
        <%}%>
        <ul id="nav-mobile" class="side-nav">
            <%if(!currentUser){%>
                <li><a style="color:white;" href="/register">ثبت نام</a></li>
                <li><a style="color:white;" href="/login">ورود</a></li>
            <%}else{if(!currentUser.verified){%>
                <li><a id="user" style="color:white;" onmouseover="" class="tooltipped" data-delay="50" data-tooltip="لطفا ایمیلت رو تایید کن" href="/home"><%=currentUser.name%></a></li>

            <%}else {%>
                <li><a id="user" style="color:white;"  data-delay="50" data-tooltip="به زودی این بخش فعال میشه" href="/home"><%=currentUser.name%></a></li>
            <%}%>
                <li><a style="color:white;" href="/logout">خروج</a></li>

            <%}%>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container mainhead">
    <div class="heading">
        <div class="section no-pad-bot">
            <!--<div style="position: absolute"><img src="background3.jpg" alt="Unsplashed background img 1"></div>-->
            <div class="container">
                <!--<br><br>-->
                <!--<br><br>-->
                <div class="headname">
                    <h1 class=" header center teal-text text-lighten-2" style="
    margin-top: 10%;
">
                        <span class="accent-3 Hedear" style="color: white;font-size: 45px;border-radius: 28%;border: none; "> <span style="text-align: left; font-family: Roboto">XP GAMES</span>  خوش آمدید به</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="container xpcontainer">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4 style="color: white;font-size: 50px;font-family: Roboto;">XP Games</h4>
                <p class="center-align light" style="color: white">
                    جمعه ۲۹ مهر
                    <br>
                    یه روز با کلی برنامه‌های مهیج
                    <br>
                    که سال بالایی‌ها برای خوش آمدگویی بهت تدارک دادن

                    <br>
                    هم می‌تونی با دانشکده و هم با بچه‌ها بیشتر آشنا بشی
                    زمانبندی

                </p>
                <div class="row center">
                    <a href="/home" id="download-button" class="btn-large waves-effect waves-light accent-3" style="background-color: rgba(41,217,194,1);">زمانبندی</a>
                </div>
            </div>
        </div>

    </div>
</div>

<!--<div id="index-banner" class="parallax-container">-->
<!--<div class="section no-pad-bot">-->
<!--<div class="container">-->
<!--<br><br>-->

<!--<br><br>-->

<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="parallax"><img src="acmback.png" alt="Unsplashed background img 1"></div>&ndash;&gt;-->
<!--</div>-->

<div class="container" style="width: 100%;">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">

        </div>

    </div>
</div>

<div id="index-banner" class="parallax-container mainhead setback2">
    <div class="section no-pad-bot heading">
        <div class="container">
            <br><br>

            <h1 class=" header center teal-text text-lighten-2">
                <span class="accent-3" style="color:white;">بازی کن و برنده شو</span>
            </h1>

            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="row">
    <div class="col s12 m4 designComponent">
        <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">XP Game</h5>

            <p class="light">یه مسابقه خفن و دورهمی :) که خیلی خوش میگذره تازه اگه برنده بشی جایزه هم میگیرین :)</p>
        </div>
    </div>
    <div class="col s12 m4 designComponent">
        <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">آشنایی با ای سی ام</h5>

            <p class="light">
                <br>میخوای بدونی ای سی ام چیه.
                <br>
            </p>
        </div>
    </div>
    <div class="col s12 m4 designComponent">
        <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">گپ با سال بالایی ها</h5>

            <p class="light">میتونی با سال بالایی ها آشنا بشی و از تجربیاتشون استفاده کنی و درباره دانشگاه بیشتر بدونی </p>
        </div>
    </div>
</div>
<!--<div class="container" style="background-color: #bc314a;border: 5%;border-radius: 10%;box-shadow: -1px -1px 19px #1e474e;">-->
<!--<div class="section">-->

<!--<div class="row">-->
<!--<div class="col s12 center" style="color: white;">-->
<!--<h3><i class="mdi-content-send brown-text"></i></h3>-->
<!--<h4>Contact Us</h4>-->
<!--<p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<div id="index-banner" class="parallax-container mainhead setback3">
    <div class="section no-pad-bot heading" style="background: linear-gradient(to top, rgba(255,0,0,0), rgba(0, 0, 0, 0.9));">
        <div class="container" style="position: relative; margin-top: 9.3%;">
            <br><br>
            <h1 class=" header center teal-text text-lighten-2" >
                <span class="accent-3" style="color: white; font-size:55px;" > با دانشگاه و آدمای اون بیشتر آشنا شو</span>
            </h1>


            <br><br>

        </div>
    </div>
    <!--<div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 1"></div>-->
</div>


<footer class="page-footer accent-3" style="background-color: rgba(1,162,166,1);">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text" style="color: white">ACM </h5>
                <p class="grey-text text-lighten-4">University of Tehran ACM Student Chapter</p>
            </div>
            <div class="col l3 s12">
                <div class="icon-block">
                    <a href="http://ut.ac.ir">
                    <h2 class="center brown-text"><i class="small material-icons"><img src="UT.png" style="width: 100%; height:100%; position: relative"/></i></h2>
                    <h5 class="center" style="color: white">UT</h5>
                    </a>
                </div>
            </div>
            <div class="col l3 s12">
                <div class="icon-block">
                    <a href="http://acm.ut.ac.ir">
                        <h2 class="center brown-text"><i class="small material-icons"><img src="background4.png" style="width: 100%; height:100%; position: relative"/></i></h2>
                        <h5 class="center" style="color: white">ACM</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright" style="background-color: rgba(188,49,74,1); text-align: right">
        <!-- Dropdown Trigger -->
        <a style="font-size: x-small; text-align: right" class='dropdown-button' href='#' data-activates='dropdown1'>طراحی و پیاده سازی</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1'  class='dropdown-content' style="font-size: xx-small; text-align: right" >
            <li><a style="font-size: xx-small; text-align: right" href="http://linkedin.com/in/hodakermani">هدی</a></li>
            <li><a style="font-size: xx-small; text-align: right" href="mailto:mehrnaz348@gmail.com">mehrnaz.sa</a></li>
            <li><a style="font-size: xx-small; text-align: right" href="mailto:aseyhani@icloud.com">Amir</a></li>
        </ul>
        <div class="container" style="font-size: xx-small; text-align: right"  >

        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
