<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>XP Games</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <style>
        @font-face {
            font-family: IRANSansWeb;
            src: url(../../font/IRANSansWeb.ttf);
        }
        body{
            font-family: IRANSansWeb;
        }
    </style>
    <script>
        var options = [
            {selector: '#staggered-test', offset: 50, callback: function(el) {
                Materialize.toast("This is our ScrollFire Demo!", 1500 );
            } },
            {selector: '#staggered-test', offset: 205, callback: function(el) {
                Materialize.toast("Please continue scrolling!", 1500 );
            } },
            {selector: '#staggered-test', offset: 400, callback: function(el) {
                Materialize.showStaggeredList($(el));
            } },
            {selector: '#index-banner', offset: 500, callback: function(el) {
                Materialize.fadeInImage($(el));
            } }
        ];
        Materialize.scrollFire(options);

    </script>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="light-blue-text accent-3 brand-logo">ACM</a>
        <%if(!currentUser){%>
            <ul class="right hide-on-med-and-down">
                <li><a href="#" id="download-button"  data-position="bottom" data-delay="50" data-tooltip="ثبت نام از فردا شروع میشه"
                   class="tooltipped btn-large waves-effect light-blue-text accent-3" >ثبت نام</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="light-blue-text accent-3" href="/login">ورود</a></li>
            </ul>
        <%}else{%>
            <ul class="right hide-on-med-and-down">
                <li><a class="light-blue-text accent-3" href="#"><%=currentUser.name%></a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a class="light-blue-text accent-3" href="/logout">خروج</a></li>
            </ul>
        <%}%>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div id="index-banner" class="parallax-container mainhead">
    <div class="heading">
    <div class="section no-pad-bot">
        <!--<div style="position: absolute"><img src="background3.jpg" alt="Unsplashed background img 1"></div>-->
        <div class="container">
            <br><br>
            <br><br>
            <div class="headname">
            <h1 class=" header center teal-text text-lighten-2">
                <span class="light-blue-text accent-3" style="font-size: 45px;"> تجربه کسب کن</span>
            </h1>
            </div>
        </div>
    </div>
    </div>

</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>XP Games</h4>
                <p class="center-align light">
                    یه برنامه است برای بچه های ورودی جدید !!!
                    <br>
:))                    برای بازی کردن و جایزه بردن
                    <br>
                    میتونی با سال بالایی ها آشنا بشی :)
                    <br>
برنامه ای که توش میتونی برای سال هایی که اینجایی تجربه کسب کنی.
                </p>
                <div class="row center">
                    <%if(currentUser){if(!currentUser.verified){%>
                    <a href="/" id="download-button" data-position="bottom" data-delay="50" data-tooltip="لطفا ایمیلت رو تایید کن"
                       class="tooltipped btn-large waves-effect waves-light light-blue accent-3">شروع</a>
                    <%}}else{%>
                        <a href="/home" id="download-button" class="btn-large waves-effect waves-light light-blue accent-3">شروع</a>
                    <%}%>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>

            <br><br>

        </div>
    </div>
    <div id="image-test" class="parallax"><img  src="background4.png" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">آشنایی با ای سی ام</h5>

                    <p class="light">
                        <br>میخوای بدونی ای سی ام چیه.
                        <br>
                    </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">XP Game</h5>

                    <p class="light">یه مسابقه خفن و دورهمی :) که خیلی خوش میگذره تازه اگه برنده بشی جایزه هم میگیرین :)</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">گپ با سال بالایی ها</h5>

                    <p class="light">میتونی با سال بالایی ها آشنا بشی و از تجربیاتشون استفاده کنی و درباره دانشگاه بیشتر بدونی </p>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class=" header center teal-text text-lighten-2">
                <span class="light-blue-text accent-3">بازی کن و برنده شو</span>
            </h1>
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
            <div class="row center">
                <a href="/home" id="download-button" class="btn-large waves-effect waves-light light-blue accent-3">شروع</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contact Us</h4>
                <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
            </div>
        </div>

    </div>
</div>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class=" header center teal-text text-lighten-2" >
                <span class="light-blue-text accent-3" > با دانشگاه و آدمای اون بیشتر آشنا شو</span>
            </h1>
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
            <div class="row center">
                <a href="/home" id="download-button" class="btn-large waves-effect waves-light light-blue accent-3">شروع</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="background2.jpg" alt="Unsplashed background img 1"></div>
</div>

<div class="container" hidden>
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Speeds up development</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">User Experience Focused</h5>

                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Easy to work with</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>
        </div>

    </div>
</div>

<footer class="page-footer light-blue accent-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">ACM </h5>
                <p class="grey-text text-lighten-4">University of Tehran ACM Student Chapter</p>
            </div>
            <div class="col l3 s12">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">UT</h5>
                </div>
            </div>
            <div class="col l3 s12">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="small material-icons"><img src="background4.png" style="width: 100%; height:100%; position: relative"/></i></h2>
                    <h5 class="center">ACM</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
<script>
    $(document).ready(function(){
        $('.collapsible').collapsible({
            accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
        });
    });
</script>
</body>
</html>
