<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>XP Games</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
    <script>
        $(window).resize(function() {
            var mobileWidth =  (window.innerWidth > 0) ?
                    window.innerWidth :
                    screen.width;
            var viewport = (mobileWidth > 360) ?
                    'width=device-width, initial-scale=1.0' :
                    'width=1200';
            $("meta[name=viewport]").attr('content', viewport);
        }).resize();
    </script>
    <style>
        @font-face {
            font-family: IRANSansWeb;
            src: url(../../font/IRANSansWeb.ttf);
        }
        body{
            font-family: IRANSansWeb;
        }
    </style>
</head>
<body>
<nav role="navigation" style="background-color: rgba(1,162,166,1);">
    <div class="nav-wrapper container">
        <a id="logo-container" href="http://acm.ut.ac.ir" class="brand-logo" style="color:white; font-family: Roboto;">ACM</a>
        <%if(!currentUser){%>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/register">ثبت نام</a></li>
        </ul>
        <%}else{%>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="#"><%=currentUser.name%></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/logout">خروج</a></li>
        </ul>
        <%}%>
        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="row">
    <div class="card  dark-blue accent-3" style="width: 500px; position: absolute;top: 15%;left: 32%;">
        <span class="card-title " style="color:rgba(1,162,166,1);position:relative;left:30%;top: 100%"> XP Games   ورود به </span>
        <form id="formValidate"  action="/login" method="post">
            <div class="row">
                <div class="input-field col s12" >
                    <input style="text-align: right;" name="username" type="email" class="validate">
                    <label style="text-align:right; padding-right: 5%" >آدرس ایمیل</label>
                </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <input style="text-align: right;" name="password" type="password" class="validate">
                <label style="text-align:right; padding-right: 5%" for="password"> گذرواژه</label>
            </div>
            </div>
            <div class="row" >
                <button class="btn " type="submit" name="action" style="background-color: rgba(1,162,166,1);position:relative;left: 35%;">  ورود
                    <i class="material-icons right"></i>
                </button>
                <br><br>
                <a href="/forgot" style="color: rgba(1,162,166,1);position:relative;left: 60%;"> گذرواژه ات رو فراموش کردی‌؟</a>
            </div>
        </form>
    </div>
</div>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
