<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>XP Games</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <style>
        @font-face {
            font-family: IRANSansWeb;
            src: url(../../font/IRANSansWeb.ttf);
        }
        body{
            font-family: IRANSansWeb;
        }
    </style>
</head>
<body>
<nav role="navigation" style="background-color: #342f4f; ">
    <div class="nav-wrapper container " >
        <a id="logo-container" href="http://acm.ut.ac.ir" class="brand-logo" style="color:white;
        position: relative;">ACM</a>
        <%if(!currentUser){%>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" class="tooltipped" data-tooltip="... به زودی " href="#">ثبت نام</a></li>
        </ul>
        <%}else{%>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="#"><%=currentUser.name%></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/logout">خروج</a></li>
        </ul>
        <%}%>
        <ul id="nav-mobile" class="side-nav " style="background-color: #342f4f;">
            <%if(!currentUser){%>
            <li><a style="font-size: x-large; color:white; text-align: right" href="/register">ثبت نام</a></li>
            <li><a style="font-size: x-large; color:white; text-align: right" href="/login">ورود</a></li>
            <%}else{%>
            <li><a style="font-size: x-large; color:white; text-align: right" href="/home"><%=currentUser.name%></a></li>
            <li><a style="font-size: x-large; color:white; text-align: right" href="/logout">خروج</a></li>
            <%}%>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
    <div id="index-banner" class="parallax-container mainhead">
        <div class="card-image" >
        <img style="max-width: 100%;height: auto;width: auto; " class="materialboxed"  src="themaze2.png" data-caption="CREATE YOUR ADVENTURE" >
            </div>
    </div>

<footer class="page-footer accent-3" style="background-color: #342f4f;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text" style="color: white">ACM </h5>
                <p class="grey-text text-lighten-4">University of Tehran ACM Student Chapter</p>
            </div>
            <div class="col l3 s12">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="small material-icons"><img src="UT.png" style="width: 100%; height:100%; position: relative"/></i></h2>
                    <h5 class="center" style="color: white">UT</h5>
                </div>
            </div>
            <div class="col l3 s12">
                <div class="icon-block">
                    <a href="http://acm.ut.ac.ir">
                        <h2 class="center brown-text"><i class="small material-icons"><img src="background4.png" style="width: 100%; height:100%; position: relative"/></i></h2>
                        <h5 class="center" style="color: white">ACM</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</body>
</html>
