<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>XP Games</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
    <style>
        @font-face {
            font-family: IRANSansWeb;
            src: url(../../font/IRANSansWeb.ttf);
        }
        body{
            font-family: IRANSansWeb;
        }
    </style>
</head>
<body style="text-align: center; ; background-size: cover;; color: white"  >
<nav role="navigation" style="background-color: #342f4f; ">
    <div class="nav-wrapper container " >
        <a id="logo-container" href="http://acm.ut.ac.ir" class="brand-logo" style="color:white;
        position: relative;">ACM</a>
        <%if(!currentUser){%>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/register">ثبت نام</a></li>
        </ul>
        <%}else{%>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="#"><%=currentUser.name%></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a style="color:white;" href="/logout">خروج</a></li>
        </ul>
        <%}%>
        <ul id="nav-mobile" class="side-nav " style="background-color: #342f4f;">
            <%if(!currentUser){%>
            <li><a style="font-size: x-large; color:white; text-align: right" href="/register">ثبت نام</a></li>
            <li><a style="font-size: x-large; color:white; text-align: right" href="/login">ورود</a></li>
            <%}else{%>
            <li><a style="font-size: x-large; color:white; text-align: right" href="/home"><%=currentUser.name%></a></li>
            <li><a style="font-size: x-large; color:white; text-align: right" href="/logout">خروج</a></li>
            <%}%>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="row">
    <div class="card" style="border-style: solid;border-width: 5px; border-radius: 10px; border-color: #342f4f; background-color: <%=secret.value%>;width: 60%; position: relative;top: 25%;left: 19%;">
        <label style="font-size: xx-large;color: white">TO BE:</label>
        <form id="formValidate"  action="/secret/<%=secret._id%>" method="post">
            <div class="row">
                <div class="input-field col s12" >
                    <input  style="font-size: x-large" name="A" value="A" type="text" >
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" >
                    <input  style="font-size: x-large" value="C" name="C"  type="text" >
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" >
                    <input  style="font-size: x-large" name="M" value="M" type="text" >
                </div>
            </div>
            <button class="btn " type="submit" name="action" style="background-color: #342f4f;">  ارسال جواب
                <i class="material-icons right"></i>
            </button>
            <br>
            <br>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>
</body>
</html>